flask
flask-cors
pdfplumber
python-docx
pydantic
python-multipart
reportlab
PyPDF2
openai
pdfkit
jinja2
python-dotenv
fpdf
PyMuPDF
celery
redis
dirtyjson
json-repair
pyyaml
pytest-env
jsonschema
croniter
rapidfuzz==3.1.1
